


/* Estilos para el contenedor */
.contenedor1 {
    /* Layout Properties */
   position: absolute;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 67px;
    opacity: 1;
  
  }
  
  /* Estilos para el logo */
  .logo1 {
    /* Layout Properties */
   
    /* UI Properties */
    background: #FF721B 0% 0% no-repeat padding-box;
    opacity: 1;
 
  }
  
  /* Estilos para el título (h1) */
  h1 {
    /* Layout Properties */
  
    /* UI Properties */
    text-align: center;
    font: normal normal normal 40px/56px Myriad Pro;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  
  }
  
  /* Estilos para la foto de usuario */
  .foto-usuario {
    /* Layout Properties */
  
    background: transparent url('https://th.bing.com/th/id/OIP.asSx0FlhGimLWwCfr3p0RwHaGe?pid=ImgDet&rs=1') 0% 0% no-repeat padding-box;
    border-radius: 96px;
    opacity: 1;
   
  }
  
  /* Estilos para el nombre de usuario */
  .nombre-usuario {
    /* Layout Properties */

    /* UI Properties */
    text-align: center;
    font: normal normal normal 40px/56px Myriad Pro;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  
  }
  
  /* Estilos para el rol */
  .rol {
    /* Layout Properties */
   
    /* UI Properties */
    text-align: center;
    font: normal normal 300 20px/28px Myriad Pro;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
   
  }
  